{% extends "base.html" %}

<!-- Head-->
{% block head %}

<title>Home</title>

{% endblock %}

<!--Conteudo da tag <body>-->
{% block body %}

    <!-- SLIDER -->
    <div class="owl-carousel owl-theme hero-slider">
        <div class="slide slide1">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center text-white">
                        <h6 class="text-white text-uppercase">Lorem ipsum dolor sit amet</h6>
                        <h1 class="display-3 my-4">Educação Inteligente <br />e Empreendedora</h1>
                        <!-- 
                        <a href="#" class="btn btn-brand">Get Started</a>
                        <a href="#" class="btn btn-outline-light ms-3">Our work</a>
                        -->
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="slide slide2">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-10 offset-lg-1 text-white">
                        <h6 class="text-white text-uppercase">Lorem ipsum dolor sit amet</h6>
                        <h1 class="display-3 my-4">Educação Inteligente <br />e Empreendedora</h1>
                        <!-- 
                        <a href="#" class="btn btn-brand">Get Started</a>
                        <a href="#" class="btn btn-outline-light ms-3">Our work</a>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ABOUT -->
    <section id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 py-5">
                    <div class="row">

                        <div class="col-12">
                            <div class="info-box">
                                <img src="{{ url_for('static', filename='img/icon6.png') }}" alt="">
                                <div class="ms-4">
                                    <h5>Lorem ipsum</h5>
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content of a page </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-4">
                            <div class="info-box">
                                <img src="{{ url_for('static', filename='img/icon4.png') }}" alt="">
                                <div class="ms-4">
                                    <h5>Lorem ipsum dolor</h5>
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content of a page </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-4">
                            <div class="info-box">
                                <img src="{{ url_for('static', filename='img/icon5.png') }}" alt="">
                                <div class="ms-4">
                                    <h5>Lorem ipsum dolor</h5>
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content of a page </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <img src="{{ url_for('static', filename='img/about.png') }}" alt="">
                </div>
            </div>
        </div>
    </section>

    <!-- MILESTONE --> <!-- COLOCAR UMA FRASE AQUI -->
    <section id="milestone">
        <div class="container">
            <div class="row text-center justify-content-center gy-4">
                <h1 class="display-6">Seja a mudança que você deseja ver no mundo</h1>
                <!--
                <div class="col-lg-2 col-sm-6">
                    <h1 class="display-4">90K+</h1>
                    <p class="mb-0">Happy Clients</p>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <h1 class="display-4">45M</h1>
                    <p class="mb-0">Lines of code</p>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <h1 class="display-4">190</h1>
                    <p class="mb-0">Total Downloads</p>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <h1 class="display-4">380K</h1>
                    <p class="mb-0">YouTube Subscribers</p>
                </div>-->
            </div>
        </div>
    </section>

    <!-- O QUE FAZEMOS -->
    <section id="services" class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="intro">
                        <h6>Nossos Serviços</h6>
                        <h1>O que fazemos?</h1>
                        <p class="mx-auto">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Quis 
                        </p>
                    </div>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6">
                    <div class="service">
                        <img src="{{ url_for('static', filename='img/icon_Fazemos.png') }}" alt="">
                        <h5>Lorem ipsum dolor</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna ali
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service">
                        <img src="{{ url_for('static', filename='img/icon_Fazemos.png') }}" alt="">
                        <h5>Lorem ipsum dolor</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna ali
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service">
                        <img src="{{ url_for('static', filename='img/icon_Fazemos.png') }}" alt="">
                        <h5>Lorem ipsum dolor</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna ali
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service">
                        <img src="{{ url_for('static', filename='img/icon_Fazemos.png') }}" alt="">
                        <h5>Lorem ipsum dolor</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna ali
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service">
                        <img src="{{ url_for('static', filename='img/icon_Fazemos.png') }}"alt="">
                        <h5>Lorem ipsum dolor</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna ali
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service">
                        <img src="{{ url_for('static', filename='img/icon_Fazemos.png') }}" alt="">
                        <h5>Lorem ipsum dolor</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna ali
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- PROJECTOS -->
    <section class="bg-light" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="intro">
                        <!-- <h6>Work</h6> -->                        
                        <h1>Projectos</h1>
                        <p class="mx-auto">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                            tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="projects-slider" class="owl-theme owl-carousel">
            <div class="project">
                <div class="overlay"></div>
                <img src="{{ url_for('static', filename='img/projecto1.jpg') }}" alt="">
                <div class="content">
                    <h2>Lorem ipsum</h2>
                    <h6>Lorem ipsum dolor</h6>
                </div>
            </div>
            <div class="project">
                <div class="overlay"></div>
                <img src="{{ url_for('static', filename='img/projecto2.jpg') }}" alt="">
                <div class="content">
                    <h2>Lorem ipsum</h2>
                    <h6>Lorem ipsum dolor</h6>
                </div>
            </div>
            <div class="project">
                <div class="overlay"></div>
                <img src="{{ url_for('static', filename='img/projecto3.jpg') }}" alt="">
                <div class="content">
                    <h2>Lorem ipsum</h2>
                    <h6>Lorem ipsum dolor</h6>
                </div>
            </div>
            <div class="project">
                <div class="overlay"></div>
                <img src="{{ url_for('static', filename='img/projecto4.jpg') }}" alt="">
                <div class="content">
                    <h2>Lorem ipsum</h2>
                    <h6>Lorem ipsum dolor</h6>
                </div>
            </div>
            <div class="project">
                <div class="overlay"></div>
                <img src="{{ url_for('static', filename='img/projecto5.jpg') }}" alt="">
                <div class="content">
                    <h2>Lorem ipsum</h2>
                    <h6>Lorem ipsum dolor</h6>
                </div>
            </div>
        </div>
    </section>

    
    <!--<!-- ******** 
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="intro">
                        <h6>Team</h6>
                        <h1>Team Members</h1>
                        <p class="mx-auto">Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                            roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-8">
                    <div class="team-member">
                        <div class="image">
                            <img src="img/team_1.jpg" alt="">
                            <div class="social-icons">
                                <a href="#"><i class='bx bxl-facebook'></i></a>
                                <a href="#"><i class='bx bxl-twitter'></i></a>
                                <a href="#"><i class='bx bxl-instagram'></i></a>
                                <a href="#"><i class='bx bxl-pinterest'></i></a>
                            </div>
                            <div class="overlay"></div>
                        </div>

                        <h5>Marvin McKinney</h5>
                        <p>Marketing Coordinator</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8">
                    <div class="team-member">
                        <div class="image">
                            <img src="img/team_2.jpg" alt="">
                            <div class="social-icons">
                                <a href="#"><i class='bx bxl-facebook'></i></a>
                                <a href="#"><i class='bx bxl-twitter'></i></a>
                                <a href="#"><i class='bx bxl-instagram'></i></a>
                                <a href="#"><i class='bx bxl-pinterest'></i></a>
                            </div>
                            <div class="overlay"></div>
                        </div>

                        <h5>Kathryn Murphy</h5>
                        <p>Ethical Hacker</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8">
                    <div class="team-member">
                        <div class="image">
                            <img src="img/team_3.jpg" alt="">
                            <div class="social-icons">
                                <a href="#"><i class='bx bxl-facebook'></i></a>
                                <a href="#"><i class='bx bxl-twitter'></i></a>
                                <a href="#"><i class='bx bxl-instagram'></i></a>
                                <a href="#"><i class='bx bxl-pinterest'></i></a>
                            </div>
                            <div class="overlay"></div>
                        </div>

                        <h5>Darrell Steward</h5>
                        <p>Software Developer</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    -->
    
    <!--<!-- TESTEMUNHO -->
    <section class="bg-light" id="reviews">

        <div class="owl-theme owl-carousel reviews-slider container">
            <div class="review">
                <div class="person">
                    <img src="{{ url_for('static', filename='img/testemunho1.jpg') }}" alt="">
                    <h5>Lorem ipsum</h5>
                    <small>Lorem ipsum doLorem</small>
                </div>
                <h3>Lorem ipsum doLorem ipsum dolor sit amet consectetur, adipisicing elit. Aut quis, rem culpa labore voluptate
                    ullam! In, nostrum. Dicta, vero nihil. Delectus minus vitae rerum voluptatum, excepturi incidunt ut,
                    enim nam exercitationem optio ducimus!</h3>
                <div class="stars">
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <i class='bx bxs-quote-alt-left'></i>
            </div>
            <div class="review">
                <div class="person">
                    <img src="{{ url_for('static', filename='img/testemunho2.jpg') }}" alt="">
                    <h5>Lorem ipsum doLorem</h5>
                    <small>Lorem ipsum doLorem</small>
                </div>
                <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut quis, rem culpa labore voluptate
                    ullam! In, nostrum. Dicta, vero nihil. Delectus minus vitae rerum voluptatum, excepturi incidunt ut,
                    enim nam exercitationem optio ducimus!</h3>
                <div class="stars">
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <i class='bx bxs-quote-alt-left'></i>
            </div>
            <div class="review">
                <div class="person">
                    <img src="{{ url_for('static', filename='img/testemunho3.jpg') }}" alt="">
                    <h5>Lorem ipsum doLorem</h5>
                    <small>Lorem ipsum doLorem</small>
                </div>
                <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut quis, rem culpa labore voluptate
                    ullam! In, nostrum. Dicta, vero nihil. Delectus minus vitae rerum voluptatum, excepturi incidunt ut,
                    enim nam exercitationem optio ducimus!</h3>
                <div class="stars">
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class='fas fa-star'></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <i class='fas fa-quote-alt-left'></i>
            </div>
        </div>
    </section>
    
    
    <!--<!-- NOTICIAS -->
    
    <section id="blog">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="intro">
                        <h6>Noticias</h6>
                        <h1>Ultimas noticias</h1>
                        <p class="mx-auto">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                            tempor incididunt ut labore et dolore magna aliqua
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <article class="blog-post">
                        <img src="{{ url_for('static', filename='img/projecto1.jpg') }}"  alt="">
                        <a href="#" class="tag">Evento</a>
                        <div class="content">
                            <small>01 de Setembro 2022</small>
                            <h5>Lorem ipsum dolor in 2022</h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                            tempor incididunt ut labore et dolore magna aliqua
                            </p>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="blog-post">
                        <img src="{{ url_for('static', filename='img/projecto2.jpg') }}" alt="">
                        <a href="#" class="tag">Evento</a>
                        <div class="content">
                            <small>01 de Setembro 2022</small>
                            <h5>Lorem ipsum dolor in 2022</h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                            tempor incididunt ut labore et dolore magna aliqua
                            </p>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="blog-post">
                        <img src="{{ url_for('static', filename='img/projecto3.jpg') }}" alt="">
                        <a href="#" class="tag">Categoria/Tipo</a>
                        <div class="content">
                            <small>01 de Setembro 2022</small>
                            <h5>Lorem ipsum dolor in 2022</h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                            tempor incididunt ut labore et dolore magna aliqua
                            </p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>

    
    
    <!-- Rodape -->
    {% include 'rodape.html' %}

    <!-- CONTACTO -->
    {% include 'contacto.html' %}
    
{% endblock %}

<!--Arquivos Javascript-->
{% block scriptJS %}

{% endblock %}
    
