{% extends "base.html" %}

<!-- Head-->
{% block head %}

<title>Home</title>

{% endblock %}

<!--Conteudo da tag <body>-->
{% block body %}

    <!-- MILESTONE --> <!-- COLOCAR UMA FRASE AQUI -->
    <section id="milestone">
        <div class="container">
            <div class="row text-center justify-content-center gy-4">
                <h1 class="display-6">Quem Somos</h1>
                <!--
                <div class="col-lg-2 col-sm-6">
                    <h1 class="display-4">90K+</h1>
                    <p class="mb-0">Happy Clients</p>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <h1 class="display-4">45M</h1>
                    <p class="mb-0">Lines of code</p>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <h1 class="display-4">190</h1>
                    <p class="mb-0">Total Downloads</p>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <h1 class="display-4">380K</h1>
                    <p class="mb-0">YouTube Subscribers</p>
                </div>-->
            </div>
        </div>
    </section>
    
    <!-- Sobre -->
    <section id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 py-5">
                    <div class="row">

                        <div class="col-12">
                            <div class="info-box">
                                <img src="{{ url_for('static', filename='img/icon6.png') }}"  alt="">
                                <div class="ms-4">
                                    <h5>Visão</h5>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat eos numquam 
                                        quisquam laborum ducimus
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-4">
                            <div class="info-box">
                                <img src="{{ url_for('static', filename='img/icon4.png') }}"  alt="">
                                <div class="ms-4">
                                    <h5>Missão</h5>
                                     <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat eos numquam 
                                        quisquam laborum ducimus
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-4">
                            <div class="info-box">
                                <img src="{{ url_for('static', filename='img/icon5.png') }}"  alt="">
                                <div class="ms-4">
                                    <h5>Propósito</h5>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat eos numquam 
                                        quisquam laborum ducimus
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <img src="{{ url_for('static', filename='img/logo-grande.png') }}" alt="">
                </div>
            </div>
        </div>
    </section>
    
    <!--
    <!-- VISAO
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Visão</h1>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, harum? 
                    Culpa magnam incidunt animi qui itaque pariatur nesciunt, placeat minus 
                    voluptatibus earum, cumque consequatur, voluptas nam dolorum commodi! Iusto, nobis.
                </div>
            </div>
        </div>
    </section>

    <!-- MISSAO
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Missão</h1>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, harum? 
                    Culpa magnam incidunt animi qui itaque pariatur nesciunt, placeat minus 
                    voluptatibus earum, cumque consequatur, voluptas nam dolorum commodi! Iusto, nobis.
                </div>
            </div>
        </div>
    </section>

    <!-- VISAO
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Propósito</h1>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, harum? 
                    Culpa magnam incidunt animi qui itaque pariatur nesciunt, placeat minus 
                    voluptatibus earum, cumque consequatur, voluptas nam dolorum commodi! Iusto, nobis.
                </div>
            </div>
        </div>
    </section>
    
    -->

    
<!--Membros da Equipa-->
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="intro">
                       <!--<h6>Team</h6>--> 
                        <h1>Membros da Equipa</h1>
                        <p class="mx-auto">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Illo vero, culpa labore, adipisci sequi repellendus architecto 
                        </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-8">
                    <div class="team-member">
                        <div class="image">
                            <img src="{{ url_for('static', filename='img/testemunho1.jpg') }}" alt="">
                            <div class="social-icons">
                                <a href="#"><i class='fa-brands fa-facebook-f' ></i></a>
                                <a href="#"><i class='fa-brands fa-twitter'></i></a>
                                <a href="#"><i class='fa-brands fa-instagram'></i></a>
                                <a href="#"><i class='fa-brands fa-youtube'></i></a>
                            </div>
                            <div class="overlay"></div>
                        </div>

                        <h5>Joao Agostinho</h5>
                        <p>Economista</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8">
                    <div class="team-member">
                        <div class="image">
                            <img src="{{ url_for('static', filename='img/testemunho2.jpg') }}" alt="">
                            <div class="social-icons">
                                <a href="#"><i class='fa-brands fa-facebook-f' ></i></a>
                                <a href="#"><i class='fa-brands fa-twitter'></i></a>
                                <a href="#"><i class='fa-brands fa-instagram'></i></a>
                                <a href="#"><i class='fa-brands fa-youtube'></i></a>
                            </div>
                            <div class="overlay"></div>
                        </div>

                        <h5>Manuel Joao</h5>
                        <p>Jurista</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8">
                    <div class="team-member">
                        <div class="image">
                            <img src="{{ url_for('static', filename='img/testemunho3.jpg') }}" alt="">
                            <div class="social-icons">
                                <a href="#"><i class='fa-brands fa-facebook-f' ></i></a>
                                <a href="#"><i class='fa-brands fa-twitter'></i></a>
                                <a href="#"><i class='fa-brands fa-instagram'></i></a>
                                <a href="#"><i class='fa-brands fa-youtube'></i></a>
                            </div>
                            <div class="overlay"></div>
                        </div>

                        <h5>Cristino da Costa</h5>
                        <p>Engenheiro de Software</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
        <!-- Rodape -->
    {% include 'rodape.html' %}

    <!-- CONTACTO -->
    {% include 'contacto.html' %}
    
{% endblock %}

<!--Arquivos Javascript-->
{% block scriptJS %}

{% endblock %}
    
